
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="formatdetection" content="telephone=no">
		<title><%- title%></title>
	  <link rel="stylesheet" href="/css/app.css" />
	  <link rel="stylesheet" href="/css/reset.css" />
	  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	</head>
<body>
	<div class="banner-top mg-b2">
	 	<p class="tit"><%- title%></p>
	    <a href="#" class="fl"><img src="img/top-arr.png" width="70%"></a>
	    <a href="#" class="fr"><img src="img/home.png" width="70%"></a>
  </div>

